packages: [
  "atom-beautify"
  "atom-clock"
  "atom-ide-ui"
  "atom-material-syntax-dark"
  "atom-ternjs"
  "atomic-chrome"
  "auto-indent"
  "autocomplete-emojis"
  "autocomplete-json"
  "autocomplete-modules"
  "autocomplete-paths"
  "autocomplete-ruby"
  "autocomplete-webgl"
  "blame"
  "busy-signal"
  "change-case"
  "character-table"
  "charcode-display"
  "color-picker"
  "color-tabs"
  "custom-title"
  "docblockr"
  "editorconfig"
  "expand-selection-to-quotes"
  "file-icons"
  "file-types"
  "filesize"
  "flex-tool-bar"
  "flow-ide"
  "git-history"
  "git-plus"
  "git-time-machine"
  "go-plus"
  "goto"
  "goto-definition"
  "hey-pane"
  "highlight-selected"
  "hyperclick"
  "ide-flowtype"
  "ide-go"
  "ide-typescript"
  "indent-guide-improved"
  "intentions"
  "jumpy"
  "language-babel"
  "language-csv"
  "language-docker"
  "language-emacs-lisp"
  "language-haml"
  "language-latex"
  "language-lua"
  "language-markdown"
  "language-terraform"
  "language-viml"
  "linter"
  "linter-csslint"
  "linter-docker"
  "linter-eslint"
  "linter-js-yaml"
  "linter-jsonlint"
  "linter-markdown"
  "linter-rubocop"
  "linter-sass-lint"
  "linter-shellcheck"
  "linter-terraform-syntax"
  "linter-tslint"
  "linter-ui-default"
  "markdown-pdf"
  "merge-conflicts"
  "minimap"
  "minimap-bookmarks"
  "minimap-codeglance"
  "minimap-cursorline"
  "minimap-highlight-selected"
  "minimap-pigments"
  "multi-wrap-guide"
  "package-sync"
  "pdf-view"
  "pigments"
  "pretty-json"
  "project-manager"
  "qolor"
  "ruby-block"
  "ruby-block-converter"
  "ruby-syntax-replacer"
  "seti-ui"
  "sort-lines"
  "tablr"
  "todo-show"
  "toggle-quotes"
  "toggler"
  "tool-bar"
  "trailing-semicolon"
  "tree-view-git-status"
  "windows-carriage-return-remover"
  "wordcount"
]
